#course_title {
    font-size: 48px;
    margin-bottom: 6px;
    margin-bottom: 6px;
}

h2 {
    margin-top: 6px;
    margin-bottom: 0px;
}

.padded {
    padding-left: 100px;
    padding-right: 100px;
}

.padded-left {
    padding-left: 20px;
}

.next-row {
    border-top: 1px solid #ccc;
    word-wrap: break-word;
    margin-top: 15px;
}

.overflow {
    word-wrap: break-word;
}
.extend {
    margin-top: 15px;
    padding-left: 20px;
}

#review-request {
    margin-bottom: 20px;
}